@import '../../project/config';

.balloon-container {
	right: 0;
	bottom: 100%;
	position: absolute;
	border-radius: 5px;
	background-color: $darkGray;
	@include mobileResponsive([
		["min-width", 200]
		["margin-bottom", 30]
	]);
	@include autoResponsive([
		["min-width", 200px]
		["margin-bottom", 30px]
	]);
	.balloon-content {
		z-index: 1;
		position: relative;
		@include mobileResponsive([
			["padding", 6]
		]);
		@include autoResponsive([
			["padding", 6px]
		]);
	}
	.arrow {
		top: 100%;
		position: absolute;
		transform: translateX(50%);
		border-top: solid $darkGray;
		border-right: solid transparent;
		border-bottom: solid transparent;
		border-left: solid transparent;
		@include mobileResponsive([
			["right", 50]
			["border-width", 15]
		]);
		@include autoResponsive([
			["right", 37px]
			["border-width", 15px]
		]);
	}
}
