@import '../../project/config';

.notepad-item {
	font-size: 0;
	overflow: hidden;
	position: relative;
	background-color: $white;
	border-bottom: 1px solid $blueDarkerGray;
	@include clearfix();
	@include mobileResponsive([
		["width", 600]
	]);
	@include autoResponsive([
		["width", 400px]
	]);
	&:last-child {
		border-bottom: none;
	}
	.pad-holder {
		@include mobileResponsive([
			["padding-top", 20]
			["padding-bottom", 20]
			["padding-left", 18]
			["padding-right", 18]
		]);
		@include autoResponsive([
			["padding-top", 15px]
			["padding-bottom", 15px]
			["padding-left", 18px]
			["padding-right", 18px]
		]);
	}
	.rel-holder {
		position: relative;
		.in-title {
			width: 90%;
			margin: 0;
			font-size: 1rem;
			line-height: 1.4em;
			vertical-align: middle;
		}
		.time {
			color: $blueDarkerGray;
			font-size: 0.8rem;
		}
		.close-button {
			top: 50%;
			right: 0;
			position: absolute;
			display: block;
			vertical-align: middle;
			transform: translateY(-50%);
			@include mobileResponsive([
				["width", 40]
				["height", 40]
			]);
			@include autoResponsive([
				["width", 25px]
				["height", 25px]
			]);
		}
	}
	&.has-error {
		color: $red;
	}
}