@import '../../project/config';

.notepad-form {
	background-color: $white;
	.input-text {
		display: inline-block;
		vertical-align: middle;
		@include mobileResponsive([
			["width", "calc(100% - {})", 75]
		]);
		@include autoResponsive([
			["width", "calc(100% - {})", 50px]
		]);
	}
	.send-button {
		display: inline-block;
		vertical-align: middle;
		@include mobileResponsive([
			["width", 60]
			["height", 60]
		]);
		@include autoResponsive([
			["width", 40px]
			["height", 40px]
		]);
	}
	&.form-error {
		transition-delay: 0.1s;
		background-color: #fbc2c2;
	}
}