@import '../../project/config';

.notepad-list {
	.empty-message {
		background: $white;
		@include mobileResponsive([
			["padding-top", 15]
			["padding-bottom", 15]
			["padding-left", 10]
			["padding-right", 10]
		]);
		@include autoResponsive([
			["padding-top", 15px]
			["padding-bottom", 15px]
			["padding-left", 10px]
			["padding-right", 10px]
		]);
	}
}