@import '../../project/config';

.screen-notes {
	height: 100%;
	overflow: hidden;
	position: relative;
	.main-note-list {
		height: 100%;
		margin: 0 auto;
		>.list-header {
			background-color: $blueGray;
			box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
			@include mobileResponsive([
				["height", 100]
				["line-height", 100]
				["padding", "0 {}", 20]
			]);
			@include autoResponsive([
				["height", 80px]
				["line-height", 80px]
				["padding", "0 {}", 0]
			]);
			.main-title {
				color: $red;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
		>.scroll-wrapper {
			@include mobileResponsive([
				["height", "calc(100% - {})", 80]
			]);
			@include autoResponsive([
				["height", "calc(100% - {})", 80px]
			]);
			.notepad-list {
				width: 100%;
				@include mobileResponsive([
					["padding", "{} 0", 25]
				]);
				@include autoResponsive([
					["padding", "{} 0", 25px]
				]);
				.empty-message {
					background-color: transparent;
				}
				.notepad-item {
					width: 100%;
					box-sizing: border-box;
					background-color: transparent;
				}
			}
		}
	}
	.collapsable-balloon {
		position: absolute;
		@include mobileResponsive([
			["right", 20]
			["bottom", 20]
		]);
		@include autoResponsive([
			["right", 20px]
			["bottom", 20px]
		]);
	}
}