@import '../../../project/config';

.confirm-modal {
	border-radius: 3px;
	background-color: $backgroundDark;
	@include mobileResponsive([
		["width", 350]
		["padding", 25]
	]);
	@include autoResponsive([
		["width", 350px]
		["padding", 25px]
	]);
	.confirm-content {
		.question {
			color: $white;
			margin: 0;
			text-align: center;
			line-height: 1.3em;
			@include mobileResponsive([
				["font-size", 20]
			]);
			@include autoResponsive([
				["font-size", 20px]
			]);
		}
	}
	.confirm-buttons {
		text-align: center;
		@include mobileResponsive([
			["margin-top", 25]
		]);
		@include autoResponsive([
			["margin-top", 25px]
		]);
		.button {
			@include mobileResponsive([
				["width", 80]
				["margin-left", 8]
				["margin-right", 8]
			]);
			@include autoResponsive([
				["width", 80px]
				["margin-left", 8px]
				["margin-right", 8px]
			]);
		}
	}
	.confirm-after {
		text-align: center;
		@include mobileResponsive([
			["margin-top", 15]
		]);
		@include autoResponsive([
			["margin-top", 15px]
		]);
	}
}