@import '../../../project/config';

.message-modal {
	border-radius: 3px;
	background-color: #fef8ee;
	@include mobileResponsive([
		["width", 300]
		["padding", 30]
	])
	@include autoResponsive([
		["width", 300px]
		["padding", 30px]
	])
	.confirm-content {
		.message {
			color: #363636;
			margin: 0;
			font-size: 1rem;
			line-height: 1.4em;
			text-align: center;
			@include coreSansRegular();
		}
	}
	.confirm-buttons {
		text-align: center;
		@include mobileResponsive([
			["margin-top", 25]
		])
		@include autoResponsive([
			["margin-top", 25px]
		])
		.button {
			width: 80px;
			margin: 0 5px;
			font-size: 1rem;
		}
	}
}