@import '../../../project/config';

.form {
	.fieldset-row {
		margin: 0;
		border: 0;
		padding: 0;
		@include mobileResponsive([
			["margin-top", 60]
		]);
		@include autoResponsive([
			["margin-top", 40px]
		]);
		&:first-child {
			margin-top: 0;
		}
		.input-item {
			display: inline-block;
			box-sizing: border-box;
			@include mobileResponsive([
				["padding", "0 {}", 10]
			]);
			@include autoResponsive([
				["padding", "0 {}", 10px]
			]);
		}
	}
}