.base-floating-box {
	width: 100px;
	height: 50px;
	position: absolute;
	background-color: #686868;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.6);
	.arrow-box-marker {
		width: 1px;
		height: 1px;
		top: -5px;
		margin-top: -4px;
		position: absolute;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #686868;
		border-right: 10px solid transparent;
	}
	&.bottom {
		.arrow-box-marker {
			top: auto;
			bottom: -10px;
			border-top: 10px solid #686868;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: none;
		}
	}
}