@import '../../project/config';

.scroll-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	.viewport {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		.overview {
			width: 100%;
			top: 0;
			left: 0;
			margin: 0;
			padding: 0;
			position: relative;
			list-style: none;
		}
	}
	.scrollbar {
		top: 0;
		right: 0;
		z-index: 999999;
		overflow: hidden;
		position: absolute;
		border-radius: 3px;
		background-position: 0 0;
		transition-duration: 0.2s;
		@include mobileResponsive([
			["width", 5]
		]);
		@include autoResponsive([
			["width", 4px]
		]);
		.track {
			width: 100%;
			height: 100%;
			position: relative;
			background-color: rgba(255, 255, 255, 0.1);
			.thumb {
				width: 100%;
				height: 10px;
				top: 0;
				cursor: pointer;
				overflow: hidden;
				position: absolute;
				border-radius: 3px;
				background-color: $blueDarkerGray;
				.end {
					width: 100%;
					height: 5px;
					overflow: hidden;
				}
			}

		}
		&.disable {
			display: none;
		}
		&:hover, &[data-scrolling] {
			@include mobileResponsive([
				["width", 8]
			]);
			@include autoResponsive([
				["width", 8px]
			]);
		}
	}
	&.native-scroll {
		.viewport {
			overflow: auto;
			overflow-x: hidden;
		}
	}
	&.shadow-top {
		&:before {
			width: 100%;
			height: 8px;
			content: "";
			top: 0px;
			left: 0;
			z-index: 999;
			position: absolute;
			pointer-events: none;
		}
	}
	&.shadow-bottom {
		&:after {
			width: 100%;
			height: 8px;
			content: "";
			left: 0;
			bottom: 0px;
			z-index: 999;
			position: absolute;
			pointer-events: none;
		}
	}
	&.lightgray {
		&:before {
			background: rgba(248,80,50,1);
			background: -moz-linear-gradient(top, #686868 0%, rgba(0,0,0,0) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, #686868), color-stop(100%, rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top, #686868 0%, rgba(0,0,0,0) 100%);
			background: -o-linear-gradient(top, #686868 0%, rgba(0,0,0,0) 100%);
			background: -ms-linear-gradient(top, #686868 0%, rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom, #686868 0%, rgba(0,0,0,0) 100%);
		}
		&:after {
			background: rgba(248,80,50,1);
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #686868 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #686868));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #686868 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #686868 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, #686868 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #686868 100%);
		}
	}
	.details-primary & {
		.scrollbar {
			.track {
				.thumb {
					background-color: $primary;
				}
			}
		}
	}
	.details-blue & {
		.scrollbar {
			.track {
				.thumb {
					background-color: #35b6db;
				}
			}
		}
	}
	.details-pink & {
		.scrollbar {
			.track {
				.thumb {
					background-color: #ff797d;
				}
			}
		}
	}
}
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}