@import 'typograph.scss';

// Basics
//--------------------------------------------------------
$primary: #ffff76;
$secondary: #000075;

$red: #ff5555;
$blue: #000075;
$green: #2effc3;
$yellow: #ffff76;
$white: #fff;
$black: #000;

//gray
$darkGray: #333333;
$lightGray: #b2b2c9;
$blueGray: #f5f5fc;
$blueDarkerGray: #7c7c93;

//mobile setup
$baseFontSizeMobile: 28;
$baseFontSizeDesktop: 16px;
$retinaFactor: 750 / 500;
$mobileBaseWidth: 750;
$mobileBaseHeight: 1335;

// Responsive
//--------------------------------------------------------

//mobile
$mobile: "(min-width: 0)";
$mobileFull: "(min-width: 568px)";
$onlyMobile: "(max-width: 767px)";

//desktop
$small: "(min-width: 768px)";
$medium: "(min-width: 960px)";
$large: "(min-width: 1200px)";
$full: "(min-width: 1920px)";

//height
$hsmall: "(min-height: 768px)";
$hmedium: "(min-height: 588px)";
$hlarge: "(min-height: 700px)";
$hfull: "(min-height: 960px)";

//aspect
$aspectPortrait: "(max-aspect-ratio: 1/1)";
$aspectLandscape: "(min-aspect-ratio: 1/1)";

//factors
$breakpointsFactor: (
	dsmall: 0.6,
	dmedium: 0.7,
	dlarge: 0.85,
	dfull: 1
);
$breakpointsFactorFontSize: (
	dsmall: 0.6,
	dmedium: 0.7,
	dlarge: 0.85,
	dfull: 1
);
$autoBreakpoints: (
	[$small, map-get($breakpointsFactor, "dsmall"), map-get($breakpointsFactorFontSize, "dsmall")],
	[$medium, map-get($breakpointsFactor, "dmedium"), map-get($breakpointsFactorFontSize, "dmedium")],
	[$large, map-get($breakpointsFactor, "dlarge"), map-get($breakpointsFactorFontSize, "dlarge")],
	[$full, map-get($breakpointsFactor, "dfull"), map-get($breakpointsFactorFontSize, "dfull") ]
);

// Functions
//-------------------------------------------------------
@function calcBPSize($value, $bp: '') {
	@return round($value * map-get($breakpointsFactor, $bp));
}

@function fixValueByFactor($value, $factor) {
	@return round($value * $factor);
}

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

@function last($list) {
	@return nth($list, length($list));
}

// Mixins
//-------------------------------------------------------
@mixin noselect () {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin clearfix () {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin mobileFullHeight () {
	@include mobileResponsive([
		["height", "calc(100vh - {})", map-get($navigationBar, "mobile")]
	]);
}

@mixin desktopFullHeight () {
	@include autoResponsive([
		["height", "calc(100vh - {})", map-get($navigationBar, "desktop")]
	]);
}

/*
 * Automatically add all breakpoints  
 * and scale according $autoBreakpoints from config.scss
 * e.g.
 * @include autoResponsive([
 *     ["width", 32px],
 *     ["height", 32px]
 * ])
 */
@mixin autoResponsive ($params) {
	//loop by breakpoints
	@each $bp in $autoBreakpoints {
		$query: nth($bp, 1);
		//create media query
		@media #{$query} {
			//loop by params (width: x; height: y...)
			@each $node in $params {
				//add param and scale following config breakpoints
				$param: nth($node, 1);
				$value: nth($node, 2);
				$factor: nth($bp, 2);
				//when the param is a font size the factor is different
				@if $param == "font-size" {
					$factor: nth($bp, 3);
				}
				//write the css
				@if type-of($value) == string {
					$result: fixValueByFactor(nth($node, 3), $factor);
					$result: str-replace($value, "{}", $result);
					#{$param}: #{$result};
				}
				@else {
					#{$param}: fixValueByFactor($value, $factor);
				}
			}
		}
	}
}

/*
 * Automatically add mobile breakpoints
 * e.g.
 * @include mobileResponsive([
 *     ["width", 32],
 *     ["height", 32]
 * ])
 */
@mixin mobileResponsive ($params) {
	//smaller breakpoint
	@media #{$mobile} {
		@each $node in $params {
			//add param and scale following config breakpoints
			$param: nth($node, 1);
			$value: nth($node, 2);
			$useVh: last($node) == true;
			//write the css
			@if type-of($value) == string {
				$result: (nth($node, 3) / $mobileBaseWidth * 100) * 1vw;
				@if $useVh {
					$result: (nth($node, 3) / $mobileBaseHeight * 100) * 1vh;
				}
				$result: str-replace($value, "{}", $result);
				#{$param}: #{$result};
			}
			@else {
				$result: ($value / $mobileBaseWidth * 100) * 1vw;
				@if $useVh {
					$result: ($value / $mobileBaseHeight * 100) * 1vh;
				}
				#{$param}: #{$result}
			}
		}
	}
	//higher breakpoint
	@media #{$mobileFull} {
		@each $node in $params {
			//add param and scale following config breakpoints
			$param: nth($node, 1);
			$value: nth($node, 2);
			//write the css
			@if type-of($value) == string {
				$result: round(nth($node, 3) / $retinaFactor) * 1px;
				$result: str-replace($value, "{}", $result);
				#{$param}: #{$result};
			}
			@else {
				#{$param}: round($value / $retinaFactor) * 1px;
			}
		}
	}
}