@import 'config';

html,
body {
	display: block;
}

.main-view {
	width: 100%;
	height: 100%;
	background-image: url("../../dist/media/square-pattern.png");
	>.block-screen {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		z-index: 999999;
		position: absolute;
	}
}