@import 'config';

// General
//------------------------------------
html,
body {
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
	@include mobileResponsive([
		["font-size", $baseFontSizeMobile]
	]);
	@include autoResponsive([
		["font-size", $baseFontSizeDesktop]
	]);
}
body {
	margin: 0;
	padding: 0;
	overflow: visible;
	@include coreSansRegular();
	ol {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

// Content
//------------------------------------
#app-root-container {
	width: 100%;
	height: 100%;
	position: relative;
	.h-wrapper {
		margin: 0 auto;
		@include mobileResponsive([
			["max-width", 800]
		]);
		@include autoResponsive([
			["max-width", 800px]
		]);
	}
}