<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta name="theme-color" content="#110d0e" />
		<base href="/">
		<title><%= htmlWebpackPlugin.options.title %></title>
				
		<style>
			@font-face {
				font-family: 'CoreSans35';
				src: url('fonts/core-sans/coresansa35light-webfont.woff2') format('woff2'),
					 url('fonts/core-sans/coresansa35light-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'CoreSans45';
				src: url('fonts/core-sans/coresansa45regular-webfont.woff2') format('woff2'),
					 url('fonts/core-sans/coresansa45regular-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'CoreSans55';
				src: url('fonts/core-sans/coresansa55medium-webfont.woff2') format('woff2'),
					 url('fonts/core-sans/coresansa55medium-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'CoreSans65';
				src: url('fonts/core-sans/coresansa65bold-webfont.woff2') format('woff2'),
					 url('fonts/core-sans/coresansa65bold-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'NunitoRegular';
				src: url('fonts/nunito/nunitosans-regular-webfont.woff2') format('woff2'),
					 url('fonts/nunito/nunitosans-regular-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'NunitoItalic';
				src: url('fonts/nunito/nunitosans-italic-webfont.woff2') format('woff2'),
					 url('fonts/nunito/nunitosans-italic-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'NunitoBold';
				src: url('fonts/nunito/nunitosans-bold-webfont.woff2') format('woff2'),
					 url('fonts/nunito/nunitosans-bold-webfont.woff') format('woff');
				font-weight: normal;
				font-style: normal;
			}
		</style>
	</head>
	<body>
		<!-- React APP -->
		<% if (htmlWebpackPlugin.options.appMountId) { %>
			<div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
		<% } %>
		
		<!-- force load font-face -->
		<div style="position: absolute; top: -9999999px; left: -9999999px; width: 0px; height: 0px; overflow: hidden;" id="hiddenFonts">
			<span style="font-family:CoreSans35;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:CoreSans45;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:CoreSans55;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:CoreSans65;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:NunitoRegular;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:NunitoItalic;font-weight:normal;font-style:normal;">abc 123</span>
			<span style="font-family:NunitoBold;font-weight:normal;font-style:normal;">abc 123</span>
		</div>
	</body>
</html>