@mixin font-alias-fix () {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@mixin coreSansLight() {
	font-family: 'CoreSans35';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin coreSansRegular() {
	font-family: 'CoreSans45';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin coreSansMedium() {
	font-family: 'CoreSans55';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin coreSansBold() {
	font-family: 'CoreSans65';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin nunitoRegular() {
	font-family: 'NunitoRegular';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin nunitoItalic() {
	font-family: 'NunitoItalic';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}
@mixin nunitoBold() {
	font-family: 'NunitoBold';
	font-style: normal;
	font-weight: normal;
	@include font-alias-fix();
}