@import '../../../project/config';

.media-controls {
	width: 80%;
	font-size: 0;
	margin: 0 auto;

	$icon-size: 30px;
	$icon-size-mobile: 30;
	$progress-v-height: 7px;
	$progress-v-height-mobile: 6;
	$color-hover: desaturate(darken($primary, 20%), 10%);
	$color-active: fade-out($color-hover, 0.5);
	
	//
	// Controls
	//
	.play-pause-buttons {
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		@include mobileResponsive([
			["width", 58]
		])
		@include autoResponsive([
			["width", 58px]
		])
	}
	.progress-container {
		display: inline-block;
		font-size: 0;
		box-sizing: border-box;
		vertical-align: middle;
		@include mobileResponsive([
			["width", "calc(100% - {})", 58]
		])
		@include autoResponsive([
			["width", "calc(100% - {})", 58px]
		])
		.FormattedTime {
			color: #FFF;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			@include mobileResponsive([
				["width", 100]
				["font-size", 22]
			])
			@include autoResponsive([
				["width", 80px]
				["font-size", 16px]
			])
		}
		.ProgressBar {
			display: inline-block;
			vertical-align: middle;
			@include mobileResponsive([
				["width", "calc(100% - {})", 200]
			])
			@include autoResponsive([
				["width", "calc(100% - {})", 160px]
			])
		}
	}

	//
	// Buttons
	//
	.PlayButton,
	.PauseButton,
	.PrevButton,
	.NextButton,
	.SoundOnButton,
	.SoundOffButton {
		outline: none;
		border-radius: 100%;
		box-sizing: border-box;
		border: solid $primary;
		background: transparent;
		@include mobileResponsive([
			["padding", 12]
			["border-width", 2]
		])
		@include autoResponsive([
			["padding", 12px]
			["border-width", 2px]
		])
		&[disabled] {
			opacity: 0.5;
		}
		&.isEnabled {
			cursor: pointer;
			&:hover {
				border-color: $color-hover;
				.Icon-shape {
					fill: $color-hover;
				}
			}
			&:active {
				border-color: $color-active;
				.Icon-shape {
					fill: $color-active;
				}
			}
		}
	}
	.Icon {
		display: block;
		@include mobileResponsive([
			["width", $icon-size-mobile]
			["height", $icon-size-mobile]
		])
		@include autoResponsive([
			["width", $icon-size]
			["height", $icon-size]
		])
	}
	.Icon-shape {
		fill: $primary;
	}
	
	//
	// Sliders
	//
	.ProgressBar,
	.VolumeSlider {
		position: relative;
		background: #eee;
		border-radius: 4px;
		&-elapsed,
		&-value {
			background: $gray;
			border-radius: 4px;
		}
		&-seek {
			position: absolute;
			cursor: pointer;
		}
		&-handle {
			position: absolute;
			background: $primary;
			border-radius: 100%;
			transform: scale(0) translate(-50%, -50%);
			transition: transform 0.2s;
			@include mobileResponsive([
				["width", $progress-v-height-mobile * 2]
				["height", $progress-v-height-mobile * 2]
			])
			@include autoResponsive([
				["width", $progress-v-height * 2]
				["height", $progress-v-height * 2]
			])
		}
		&.isSeekable,
		&.isEnabled {
			&:hover {
				.ProgressBar-handle,
				.VolumeSlider-handle {
					transform: scale(1);
				}
				.ProgressBar-intent,
				.VolumeSlider-intent {
					position: absolute;
					background: rgba(0,0,0,0.1);
				}
			}
			.ProgressBar-elapsed,
			.VolumeSlider-value {
				background: $primary;
			}
		}
	}
	.ProgressBar {
		@include mobileResponsive([
			["height", $progress-v-height-mobile]
		])
		@include autoResponsive([
			["height", $progress-v-height]
		])
		&-elapsed {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		&-buffered {
			height: 100%;
			border-radius: 4px;
			background: $lightGray;
		}
		&-seek {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&-handle {
			top: 0;
			@include mobileResponsive([
				["margin-top", -$progress-v-height-mobile / 2]
				["margin-left", -$progress-v-height-mobile]
			])
			@include autoResponsive([
				["margin-top", -$progress-v-height / 2]
				["margin-left", -$progress-v-height]
			])
		}
		&.isSeekable {
			&:hover {
				.ProgressBar-handle {
					transform: scale(1);
				}
				.ProgressBar-intent {
					top: 0;
					left: 0;
					height: 100%;
				}
			}
		}
		&.isLoading {
			opacity: 0.5;
			background: #ccc;
			animation: barLoading 2s infinite;
		}
	}
	.VolumeSlider {
		&-value {
			position: absolute;
		}
		&.isHorizontal {
			transition: width 0.3s, height 0.05s;
			@include mobileResponsive([
				["width", 100]
				["height", 8]
			])
			@include autoResponsive([
				["width", 100px]
				["height", 8px]
			])
		}
		&.isHorizontal &-value {
			height: 100%;
			left: 0;
		}
		&.isHorizontal &-handle {
			@include mobileResponsive([
				["margin-top", -4]
				["margin-left", -8]
			])
			@include autoResponsive([
				["margin-top", -4px]
				["margin-left", -8px]
			])
		}
		&.isVertical {
			transition: width 0.05s, height 0.3s;
			@include mobileResponsive([
				["width", 8]
				["height", 100]
			])
			@include autoResponsive([
				["width", 8px]
				["height", 100px]
			])
		}
		&.isVertical &-value {
			bottom: 0;
			width: 100%;
		}
		&.isVertical &-handle {
			left: 0;
			@include mobileResponsive([
				["margin-left", -4]
				["margin-bottom", -8]
			])
			@include autoResponsive([
				["margin-left", -4px]
				["margin-bottom", -8px]
			])
		}
		&-seek {
			top: 0;
			bottom: 0;
			@include mobileResponsive([
				["left", -6]
				["right", -6]
			])
			@include autoResponsive([
				["left", -6px]
				["right", -6px]
			])
		}
		&.isEnabled {
			&:hover {
				.VolumeSlider-handle {
					transform: scale(1);
				}
				.VolumeSlider-intent {
					bottom: 0;
					left: 0;
					width: 100%;
				}
			}
		}
	}
}