@import '../../../project/config';

.react-player {
	video {
		width: 100%;
		height: 100%;
	}
	.controls-container {
		width: 100%;
		left: 0;
		position: absolute;
		@include mobileResponsive([
			["bottom", 40]
		])
		@include autoResponsive([
			["bottom", 40px]
		])
		.media-controls {
			width: 92%;
			margin: 0 auto;
			@media #{$small} {
				width: 80%;
			}
		}
	}
}