@import '../../../project/config';

.input-text {
	color: $black;
	box-sizing: border-box;
	background-color: $white;
	@include mobileResponsive([
		["padding", 15]
	]);
	@include autoResponsive([
		["padding", 8px]
	]);
	input, textarea {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
		border: 0;
		padding: 0;
		outline: none;
		display: block;
		background-color: transparent;
		&::-webkit-input-placeholder {
			color: #797979;
			@include nunitoRegular();
		}
		&:-moz-placeholder {
			color: #797979;
			@include nunitoRegular();
		}
		&::-moz-placeholder {
			color: #797979;
			@include nunitoRegular();
		}
		&:-ms-input-placeholder {
			color: #797979;
			@include nunitoRegular();
		}
	}
	input {
		font-size: 1rem;
		@include mobileResponsive([
			["height", 60]
			["line-height", 60]
		]);
		@include autoResponsive([
			["height", 40px]
			["line-height", 40px]
		]);
	}
	textarea {
		resize: none;
		font-size: 1rem;
		line-height: 1.5em;
	}
	&.error {
		border-left: 2px solid $red;
		background-color: #fbc2c2;
		transition-delay: 0.1s;
		input,
		textarea {
			color: $red!important;
			&::-webkit-input-placeholder {
				color: $red;
				transition-delay: 0.1s;
			}
			&:-moz-placeholder {
				color: $red;
				transition-delay: 0.1s;
			}
			&::-moz-placeholder {
				color: $red;
				transition-delay: 0.1s;
			}
			&:-ms-input-placeholder {
				color: $red;
				transition-delay: 0.1s;
			}
		}
	}
	
	// Disabled mode
	//----------------------------
	&.disabled {
		opacity: 0.5;
	}
}