@import '../../../project/config';

.svg-icon {
	width: 2em;
	height: 2em;
	display: inline-block;
	position: relative;
	.svg {
		width: 100%;
		height: 100%;
		z-index: 1;
		display: block;
		position: relative;
		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	.icon-bg {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		position: absolute;
		border-radius: 50%;
		background-color: $primary;
	}
	.fill-none {fill: none;}
	.fill-path {fill: $darkGray;}
	.stroke-none {stroke: none;}
	.stroke-path {stroke: $darkGray;}
	
	// ornaments
	//-------------------------------------------------------
	&.circle {
		.svg {
			.fill-path {fill: $white;}
			.stroke-path {stroke: $white;}
		}
	}

	// Types
	//-------------------------------------------------------
	&.arrow-icon {
		svg {
			width: 100%!important;
			height: 100%!important;
			margin: 0!important;
		}
		&.top {
			.svg {
				transform: rotate(90deg);
			}
		}
		&.down {
			.svg {
				transform: rotate(-90deg);
			}
		}
		&.right {
			.svg {
				transform: rotate(180deg);
			}
		}
	}

	// colors
	//-------------------------------------------------------
	&.secondary {
		.icon-bg {
			background-color: $secondary;
		}
	}
}