.lightbox {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	position: fixed;
	.background {
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background-color: #000;
	}
	.modals-wrapper {
		z-index: 1;
		position: absolute;
	}
}