@import '../../../project/config';

.circle-button {
	font-size: 0;
	border-radius: 50%;
	display: inline-block;
	background-color: $darkGray;
	@include mobileResponsive([
		["width", 100]
		["height", 100]
	]);
	@include autoResponsive([
		["width", 75px]
		["height", 75px]
	]);
	.button-holder {
		width: 100%;
		height: 100%;
		position: relative;
		.hit-area {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			position: absolute;
		}
		.svg-icon {
			width: 50%;
			height: 50%;
			margin: 25%;
			.fill-path {
				fill: $white;
			}
			.stroke-path {
				stroke: $white;
			}
		}
	}

	// Colors
	//-------------------------------------------------------
	&.red {
		background-color: $red;
	}
	&.blue {
		background-color: $blue;
	}
	&.green {
		background-color: $green;
	}
}